p{
    font-style: italic
}
#redbutton{
    margin: 5px;
    border-color: red;
    background-color: red; 
    
}

#orangebutton{
    margin: 5px;

    border-color: orange;
    background-color: orange; 
}

#yellowbutton{
    margin: 5px;
    color: black;
    border-color: yellow;
    background-color: yellow; 
    
}

#greenbutton{
    margin: 5px;
    border-color: green;
    background-color: green;
}

#bluebutton{
    margin: 5px;
    border-color:blue;
    background-color: blue; 
}

#indigobutton{
    margin: 5px;
    border-color: indigo;
    background-color: indigo;
}

#violetbutton{
    margin: 5px;
    border-color: violet;
    background-color: violet; 
}

#jumbo{
    background-color: rgb(245, 245, 245)
}

